@model DoAn.Models.TinTuc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa Tin Tức</h2>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageTT)
        </dt>

        <dd>
            <img src="@Url.Content(Model.ImageTT)" style="height:200px;width:200px;margin:10px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDungTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDungTT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayNhapTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayNhapTT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
