@model DoAn.Models.KhachHang

@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;color:green ">Đăng Nhập</h2>
<hr />

<table align="center" style="font-size:20px">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true);
        <tr style="height:50px">
            <td>Họ Tên:</td>
            <td>
                @Html.TextBox("HoTenKH")
            </td>
        </tr>
        <tr style="height:50px">
            <td>Email</td>
            <td>
                @Html.TextBox("Email")
                @ViewData["Loi1"]
            </td>
        </tr>
        <tr style="height:50px">
            <td>Mật Khẩu</td>
            <td>
                @Html.Password("Password")
                @ViewData["Loi2"]
            </td>
        </tr>
        <tr style="height:50px;text-align:center">
            <td><input type="submit" value="Đăng Nhập" /></td>
        </tr>
    }
</table>
<h3 style="color:red;font-size:16px;text-align:center">@ViewBag.Thongbao</h3>
