@model DoAn.Models.KhachHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

    <div id="Thongtin" style="text-align:center; font-size:16px">
        <div id="HoTenKH">@Model.HoTenKH</div>
        <div id="SDT">@Model.SDT</div>
        <div id="NgaySinh">Khách sạn: @Model.NgaySinh</div>
        <div id="GioiTinh">Phương Tiện:@Model.GioiTinh</div>
        <div id="DiaChi">Chi Phí:@Model.DiaChi</div>
        <div id="ID_KH">Ngày khởi hành:@Model.ID_KH</div>
        <div id="Email">Ngày kết thúc:@Model.Email</div>
        <div id="Password">Địa điểm tập trung:@Model.Password</div>
    </div>

@*<div class="border-right">
        <div class="p-3 py-5" style="padding-right: 20px;">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-left" style="font-weight: bold;">Profile</h4>
            </div>
            <div class="row mt-2">
                <div class="col-md-6"><label class="labels" style="font-size:15px">Họ Tên: </label><input type="text" class="form-control" value="@Model.HoTenKH" readonly="readonly"></div>

                <div class="col-md-6"><label class="labels" style="font-size:15px">Số Điện Thoại: </label><input type="text" class="form-control" value="@Model.SDT" readonly="readonly"></div>
                <div class="col-md-6">
                    <label class="labels" style="font-size:15px">Địa Chỉ: </label><input type="text" class="form-control" placeholder="3891 Ranchview Dr. Richardson, California 62639" value="@Model.DiaChi" readonly="readonly">
                </div>

                <div class="col-md-6">
                    <label class="labels" style="font-size:15px">Email: </label><input type="text" class="form-control" value="@Model.Email" readonly="readonly">
                </div>

            </div>

        </div>
    </div>*@

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_KH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
