@model IEnumerable<DoAn.Models.DatVe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh Sách Đơn Đặt Vé</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.HoTenKH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.HoTenKH)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID_DatVe }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_DatVe })
        </td>
    </tr>
}

</table>
